
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.cv-mSq {
  background-color: #f5f7fa;
  width: 100%;
  height: 139.9rem;
  position: relative;
  overflow: hidden;

  .rectangle-1-Kcm {
    position: absolute;
    left: 4rem;
    top: 4rem;
    box-shadow: 0.6rem 0.6rem 2rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
    width: 120rem;
    height: 131.9rem;
  }
  .left-oiH {
    top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #1e2939;
    width: 37rem;
    position: absolute;
    height: 131.9rem;
    left: 4rem;
    align-items: center;
    box-sizing: border-box;
    padding-top: 4rem;

    .photo-2L9 {
      width: 37rem;
      height: 35.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-j7gv-X21 {
      box-sizing: border-box;
      padding: 5.1rem 4rem 36.6rem 4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .contacts-7F7 {
        margin-bottom: 2.3rem;
        width: 17.4rem;
        flex-shrink: 0;

        .contacts-y2R {
          white-space: nowrap;
          margin-bottom: 0.8rem;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .auto-group-9bbf-2Fb {
          width: 100%;
          display: flex;
          align-items: flex-start;

          .c-e--uaH {
            font-weight: 700;
            line-height: 1.7142857143;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.4rem;
            max-width: 2.2rem;
            font-size: 1.4rem;
          }
          .johndoegmailcom-SkZ {
            flex-shrink: 0;
            max-width: 14.8rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';

            .johndoegmailcom-SkZ-sub-0 {
            }
            .johndoegmailcom-SkZ-sub-1 {
              text-decoration-line: underline;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.7142857143;
            }
          }
        }
      }
      .tech-skills-5qT {
        margin-bottom: 4.4rem;
        width: 12.1rem;
        flex-shrink: 0;

        .tech-skills-Zkd {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.8rem;
        }
        .auto-group-ndu3-eXB {
          margin-right: 3.3rem;
          width: calc(100% - 3.3rem);
          display: flex;
          align-items: center;

          .item--joX {
            flex-shrink: 0;
            margin-right: 1rem;
            max-width: 0.6rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            color: #fb6d3a;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .html5-css3-git-webpack-javascript-reactjs-nodejs-BfX {
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 7.2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
          }
        }
      }
      .soft-skills-rWm {
        width: 11.3rem;
        flex-shrink: 0;

        .soft-skills-MCd {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.8rem;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #ffffff;
        }
        .auto-group-hjsh-G4h {
          display: flex;
          align-items: center;
          margin-right: 2.3rem;
          width: calc(100% - 2.3rem);

          .item--YH7 {
            max-width: 0.6rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            color: #fb6d3a;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .scrum-agile-gtd-teamwork-SdP {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 7.4rem;
          }
        }
      }
    }
  }
  .work-experience-Lyf {
    display: flex;
    flex-direction: column;
    width: 52.5rem;
    height: 21.3rem;
    position: absolute;
    left: 49.8rem;
    top: 57rem;
    align-items: center;

    .auto-group-lxcz-gGq {
      box-sizing: border-box;
      padding-bottom: 0.8rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .work-experience-DnZ {
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.2rem;
        font-size: 2.2rem;
        font-weight: 700;
      }
      .front-end-developer-freelance-Mtm {
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Montserrat, 'Source Sans Pro';
        align-items: baseline;
        margin-bottom: 1.1rem;
        line-height: 1.2175;
        color: #000000;

        .front-end-developer-freelance-Mtm-sub-0 {
        }
        .front-end-developer-freelance-Mtm-sub-1 {
          line-height: 1.2175;
          color: #fb6d3a;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 700;
        }
        .front-end-developer-freelance-Mtm-sub-2 {
        }
      }
      .september-2019-up-to-now-country-x1P {
        font-family: Montserrat, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        font-size: 1.2rem;
        color: #a8a8a8;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.2175;

        .september-2019-up-to-now-country-x1P-sub-0 {
        }
        .september-2019-up-to-now-country-x1P-sub-1 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .september-2019-up-to-now-country-x1P-sub-2 {
        }
      }
    }
    .auto-group-wdg5-ht5 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .item--3h3 {
        font-weight: 700;
        line-height: 1.7142857143;
        color: #595959;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 1rem;
        max-width: 0.6rem;
        font-size: 1.4rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-risus-commodo-viverra-maecenas-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-mN9 {
        font-weight: 400;
        line-height: 1.7142857143;
        color: #595959;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 50.9rem;
        font-size: 1.4rem;
      }
    }
  }
  .education-9Nh {
    top: 113.8rem;
    width: 24.2rem;
    height: 11.4rem;
    position: absolute;
    left: 49.8rem;

    .education-51T {
      margin-bottom: 1.2rem;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .national-university-1vh {
      line-height: 1.2175;
      color: #fb6d3a;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      font-weight: 700;
    }
    .management-A2u {
      margin-bottom: 1.1rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .september-2009-june-2014-country-Vqs {
      display: flex;
      align-items: baseline;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #a8a8a8;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;

      .september-2009-june-2014-country-Vqs-sub-0 {
      }
      .september-2009-june-2014-country-Vqs-sub-1 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .september-2009-june-2014-country-Vqs-sub-2 {
      }
    }
  }
  .work-experience-qYM {
    top: 79.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 52.5rem;
    height: 15rem;
    position: absolute;
    left: 49.8rem;

    .auto-group-nhe9-yPf {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 0.8rem;
      width: 100%;

      .manager-glory-new-XRB {
        align-items: baseline;
        margin-bottom: 1.1rem;
        font-weight: 700;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.6rem;
        color: #000000;
        white-space: nowrap;
        display: flex;

        .manager-glory-new-XRB-sub-0 {
        }
        .manager-glory-new-XRB-sub-1 {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #fb6d3a;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .march-2015-october-2018-country-hU5 {
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        color: #a8a8a8;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2175;

        .march-2015-october-2018-country-hU5-sub-0 {
        }
        .march-2015-october-2018-country-hU5-sub-1 {
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #000000;
        }
        .march-2015-october-2018-country-hU5-sub-2 {
        }
      }
    }
    .auto-group-ck8r-E6d {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--ndw {
        font-weight: 700;
        line-height: 1.7142857143;
        color: #595959;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 1rem;
        max-width: 0.6rem;
        font-size: 1.4rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-labore-et-dolore-magna-aliqua-quis-ipsum-suspendisse-ultrices-gravida-risus-commodo-viverra-maecenas-7gD {
        line-height: 1.7142857143;
        color: #595959;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 50.9rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
  }
  .work-experience-BRB {
    left: 49.8rem;
    top: 96.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 41rem;
    height: 12.6rem;
    position: absolute;

    .auto-group-ewwu-WiM {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 0.8rem;
      width: 100%;
      display: flex;

      .manager-glory-llc-TtV {
        line-height: 1.2175;
        white-space: nowrap;
        margin-bottom: 1.1rem;
        font-size: 1.6rem;
        font-family: Montserrat, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        font-weight: 700;
        color: #000000;

        .manager-glory-llc-TtV-sub-0 {
        }
        .manager-glory-llc-TtV-sub-1 {
          line-height: 1.2175;
          color: #fb6d3a;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 700;
        }
      }
      .june-2014-february-2015-country-q8M {
        flex-shrink: 0;
        display: flex;
        align-items: baseline;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2175;
        color: #a8a8a8;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;

        .june-2014-february-2015-country-q8M-sub-0 {
        }
        .june-2014-february-2015-country-q8M-sub-1 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .june-2014-february-2015-country-q8M-sub-2 {
        }
      }
    }
    .auto-group-aat3-bFw {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--ked {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.7142857143;
        color: #595959;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 1rem;
        max-width: 0.6rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-quis-ipsum-suspendisse-ultrices-gravida-risus-commodo-viverra-maecenas-gYH {
        flex-shrink: 0;
        max-width: 39.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7142857143;
        color: #595959;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
  }
  .text-intro-Lcq {
    width: 39rem;
    height: 23rem;
    position: absolute;
    left: 49.8rem;
    top: 14.2rem;

    .front-end-developer-scm {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.8rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #000000;
    }
    .john-doe-DAq {
      margin-bottom: 1.9rem;
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-quis-ipsum-suspendisse-ultrices-gravida-risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-9qB {
      font-weight: 400;
      line-height: 1.7142857143;
      color: #595959;
      font-family: Montserrat, 'Source Sans Pro';
      max-width: 39rem;
      font-size: 1.4rem;
    }
  }
  .projects-1cV {
    left: 49.8rem;
    top: 41.2rem;
    width: 48.5rem;
    height: 10.7rem;
    position: absolute;

    .projects-vUZ {
      margin-bottom: 0.8rem;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-vjpf-FFw {
      display: flex;
      align-items: center;
      width: 100%;
      height: 7.2rem;

      .item-1-2-3-kiV {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 1.3rem;
        max-width: 1.3rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.7142857143;
      }
      .auto-group-p4gq-UuP {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.35rem;
        width: 32.45rem;
        height: 100%;

        .https-barbershopgoitglobal-https-cryptohubgoitglobal-https-kidslikegoitglobal--sRj {
          font-size: 1.4rem;
          position: absolute;
          left: 0;
          top: 0;
          line-height: 1.7142857143;
          color: #595959;
          font-family: Montserrat, 'Source Sans Pro';
          width: 21.2rem;
          height: 7.2rem;
          font-weight: 400;

          .https-barbershopgoitglobal-https-cryptohubgoitglobal-https-kidslikegoitglobal--sRj-sub-0 {
            color: #595959;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            text-decoration-line: underline;
          }
          .https-barbershopgoitglobal-https-cryptohubgoitglobal-https-kidslikegoitglobal--sRj-sub-1 {
            font-weight: 400;
            line-height: 1.7142857143;
            text-decoration-line: underline;
            color: #595959;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 1.4rem;
          }
          .https-barbershopgoitglobal-https-cryptohubgoitglobal-https-kidslikegoitglobal--sRj-sub-2 {
            font-weight: 400;
            line-height: 1.7142857143;
            text-decoration-line: underline;
            color: #595959;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 1.4rem;
          }
        }
        .group-1-buT {
          left: 18.2568rem;
          top: 1.7rem;
          row-gap: 2.4rem;
          align-items: flex-end;
          width: 14.1932rem;
          height: 4.8rem;
          flex-direction: column;
          position: absolute;
          display: flex;

          .vector-1-Twf {
            margin-right: 0rem;
            width: 11.8rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-2-Qc1 {
            flex-shrink: 0;
            margin-right: 0rem;
            width: 12.2383rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
          }
          .vector-2-mBf {
            flex-shrink: 0;
            width: 14.1932rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .html5-css3-javascript-reactjs-nodejs--7mK {
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 13.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7142857143;
        color: #000000;

        .html5-css3-javascript-reactjs-nodejs--7mK-sub-0 {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.7142857143;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-1 {
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-2 {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.7142857143;
          color: #595959;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-3 {
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-4 {
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.7142857143;
          color: #000000;
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-5 {
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-6 {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.7142857143;
          color: #595959;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-7 {
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-8 {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.7142857143;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-9 {
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-10 {
          line-height: 1.7142857143;
          color: #595959;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-11 {
        }
        .html5-css3-javascript-reactjs-nodejs--7mK-sub-12 {
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.7142857143;
        }
      }
    }
  }
}
